@tailwind base;
@tailwind components;
@tailwind utilities;


.theme{
    transition: 1s all ease;
  }
  
  .light{
    background-color: white;
    color: #111;
  }
  
  .dark{
    background-color: #923232 ;
    color: #bbb;
  }